<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key ="ImageLocation" value="C:\ImageFromRemoteLocation\Archive"/>
      <add key ="FileType" value="jpg"/>
      <add key ="DBConnect" value=""/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
